<%- include('header') %>

<div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
        <form class="ui form segment" method="post" enctype="multipart/form-data">
            <div class="field required">
                <label>Username</label>
                <input placeholder="username" type="text" name="username">
            </div>
            <div class="field required">
                <label>Password</label>
                <input placeholder="password" type="password" name="password">
            </div>
            <div class="field required">
                <label>Confirm Passowrd</label>
                <input placeholder="confirm password" type="password" name="confirmPassword">
            </div>
            <div class="field required">
                <label>Gender</label>
                <select class="ui compact selection dropdown" name="gender">
                    <option value="m">Male</option>
                    <option value="f">Female</option>
                    <option value="x">I choose not to disclose</option>
                </select>
            </div>
            <div class="field required">
                <label>Avatar</label>
                <input type="file" name="avatar">
            </div>
            <div class="field required">
                <label>About Me</label>
                <textarea name="bio" rows="5"></textarea>
            </div>
            <input type="submit" class="ui button fluid" value="Sign Up Now!">
        </form>
    </div>
</div>

<%- include('footer') %>